@import "/src/styles/main";

.orchestratorContainer {
  width: 100%;
  height: 100vh;
  height: 100dvh; // Fix para móviles modernos
  position: relative;
  overflow: hidden;
  @media (max-width: 480px) {
    // Permitimos que se deslice verticalmente
    overflow-y: auto;
    // Evitamos deslizamiento horizontal
    overflow-x: hidden;
    // Habilitamos el scroll suave nativo de iOS/Android
    -webkit-overflow-scrolling: touch;
  }
}

.centerContent {
  @include flex-column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  // Espaciado entre Título y Tarjeta
  gap: 1.5rem;

  // Ajuste Mobile
  @media (max-width: 480px) {
    // Cambiamos a 'relative' para que el contenedor crezca con el contenido
    position: relative;
    height: auto; // La altura ya no es fija, se adapta
    min-height: 100dvh; // Al menos ocupa toda la pantalla

    justify-content: flex-start;
    padding-top: 10vh; // Espacio arriba para el título
    padding-bottom: 50px; // Espacio abajo para que lo último no quede pegado al borde
    gap: 14rem;
  }
}

.brandTitle {
  font-family: $font-family-brand;
  font-size: 4rem; // Desktop
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  text-align: center;

  // --- Tablet Landscape (iPad Pro) ---
  @media (max-width: 1024px) {
    font-size: 3.2rem;
    letter-spacing: 3px;
  }

  // --- Tablet Portrait (iPad Mini) ---
  @media (max-width: 768px) {
    font-size: 2.8rem;
    padding: 0 1rem; // Evita que toque los bordes
  }

  // --- Mobile ---
  @media (max-width: 480px) {
    font-size: 2.2rem;
    letter-spacing: 2px;
    line-height: 1.1;
    width: 100%;
    word-break: break-word; /* Si es muy largo, que baje de renglón en vez de estirar la pantalla */
    padding: 0 10px; /* Un poquito de aire a los costados */
  }
}

.goldText {
  // Gradiente Dorado Metálico
  background: linear-gradient(
    to bottom,
    #cfc09f 0%,
    #ffecb3 30%,
    #a47e3c 60%,
    #6d4f18 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.5));
}
