@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin text-gradient($color1, $color2) {
  background: linear-gradient(to right, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin glass-effect {
  background: rgba(18, 18, 18, 0.85); // 85% Opacidad
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 179, 71, 0.2); // Borde sutil dorado
}
