@forward "./variables";
@forward "./mixins";
/* 1. EL RESET MAGICO: Esto arregla el desbordamiento lateral */
* {
  box-sizing: border-box; /* Clave: hace que padding no agrande los elementos */
  margin: 0;
  padding: 0;
}

/* 2. Aseguramos que el cuerpo no tenga scroll horizontal */
html,
body {
  width: 100%;
  overflow-x: hidden; /* Corta cualquier cosa que se salga de ancho */
  background-color: #0a0a0a; /* Por si acaso, que el fondo sea negro y no blanco */
}
/* Personalizar la barra de scroll (Webkit: Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none; /* Ancho delgado */
}

// ::-webkit-scrollbar-track {
//   background: #0a0a0a; /* Fondo negro */
// }

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color de la barra gris oscuro */
  border-radius: 10px; /* Bordes redondos */
  border: 2px solid #0a0a0a; /* Espacio alrededor */
}

// Aquí podrías agregar un reset CSS si quisieras en el futuro
