@import "/src/styles/main";

.itemContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  color: $color-text-primary;
  text-decoration: none; // Quitar subrayado de links
  transition: all 0.3s ease; // Animación suave
  padding: 10px; // Un poco de aire para el click
  border-radius: 10px;

  // ESTADO INTERACTIVO (Solo si es link)
  &.interactive {
    cursor: pointer;
    border: 1px solid transparent; // Prepara el borde

    &:hover {
      background: rgba(255, 255, 255, 0.05); // Fondo sutil al pasar mouse
      transform: translateX(5px); // Se mueve un poquito a la derecha

      .iconCircle {
        background-color: $color-accent; // El círculo se llena de color
        color: #000; // Icono negro
        box-shadow: 0 0 15px rgba($color-accent, 0.6); // Brillo
      }
    }

    // Feedback visual al tocar en celular
    &:active {
      transform: scale(0.98);
    }
  }

  @media (max-width: 768px) {
    align-items: center;
    gap: 1rem;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linkIcon {
  font-size: 0.8rem;
  color: $color-accent;
  opacity: 0.7;
}

.iconCircle {
  @include flex-center;
  flex-shrink: 0; // Evita que se aplaste

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: rgba($color-accent, 0.1);
  color: $color-accent;
  font-size: 1.5rem;
  border: 1px solid rgba($color-accent, 0.3);

  // --- Mobile (Más pequeño) ---
  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
  }
}

.textContent {
  .title {
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    letter-spacing: 1px;

    @media (max-width: 480px) {
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
    }
  }

  .textLine {
    font-size: 0.95rem;
    color: $color-text-secondary;
    line-height: 1.4;

    @media (max-width: 480px) {
      font-size: 0.85rem;
    }
  }
}
